{% extends 'base.html' %}


{% block content %}
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Musician Name</th>
            <th scope="col">Email</th>
            <th scope="col">Album Rating</th>
            <th scope="col">Instrument Type</th>
            <th scope="col">Album Name</th>
            <th scope="col">Release Date</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for album in data %}
        <tr>
            <th scope="row">{{album.id}}</th>
            <td>
                <a href="{% url 'EditMusician' album.musician.id %}" class="text-dark">
                    {{album.musician.first_name}}
                </a></td>
            <td>{{album.musician.email}}</td>
            <td>{{album.rating}}</td>
            <td>{{album.musician.instrument_type}}</td>
            <td>{{album.album_name}}</td>
            <td>{{album.release_date}}</td>
            <td>
                <a href="{% url 'EditAlbum' album.id %}" class="btn btn-info" title="edit">
                    <ion-icon name="create-outline"></ion-icon>
                </a>
                <a href="{% url 'DeleteMusician' album.musician.id %}" class="btn btn-danger" title="delete">
                    <ion-icon name="trash-outline"></ion-icon>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}